<section class="title-contact">
    <h2>Contacto</h2>
    <span>¡Conectemos y sigamos en contacto!</span>
</section>
<article class="contacto-article">
    <section class="contact-container">
        <div class="link-linkedin">
            <a href="https://www.linkedin.com/in/candido-hernandez-martin/" target="_blank">
                <img src="../../../../assets/img/icon-linkedin.svg" alt="LinkedIn">
                LinkedIn
            </a>
        </div>
        <div class="link-email">
            <a href="mailto:candidohm99@gmail.com" target="_blank">
                <img src="../../../../assets/img/icon-email.svg" alt="Email">
                Email
            </a>
        </div>
    </section>
</article>