<section class="title-experience">
    <h2>Experiencia</h2>
</section>
<section class="experience">
    <article class="corporativo-container">
        <figure class="avatar-experience">
            <img src="../../../../assets/img/avatar-experiencia.png" alt="avatar experience">
        </figure>
        <article class="corporativo-about">
            <header class="title-corporativo">
                <h3>Técnico en el Área de Sistemas</h3>
            </header>
            <article class="description-corporativo">
                <p class="empresa">
                    Corporativo Grupo Ríos S.A. de C.V.
                </p>
                <p class="periodo">
                    Agosto 2021 - Enero 2022
                </p>
                <ul class="list-responsabilidades">
                    <li>
                        <figure class="container-check">
                            <img class="icon-check" src="./../../../../assets/img/icon-check.svg" alt="check">
                        </figure>
                        <span>
                            Actualización del sistema web con HTML 5, Bootstrap, JQuery, librería de datatables, PHP y SQL Server
                        </span> 
                    </li>
                    <li>
                        <figure class="container-check">
                            <img class="icon-check" src="./../../../../assets/img/icon-check.svg" alt="check">
                        </figure>
                        <span>
                            Creación de formatos PDF con la libreria HMTL2PDF.
                        </span>
                    </li>
                    <li>
                        <figure class="container-check">
                            <img class="icon-check" src="./../../../../assets/img/icon-check.svg" alt="check">
                        </figure>
                        <span>
                            Actualización de la página oficial con el sistema de gestión de contenido WordPress y plugins: Elementor, Slider Revolution y Contact Form.
                        </span>
                    </li>
                </ul>
            </article>
        </article>
    </article> 
</section>

<section class="title-project">
    <h2>Proyectos</h2>
</section>
<article class="projects-article">
    <section class="project-container">
        <section *ngFor="let project of projects" class="proyecto">
            <figure class="img-project">
                <img [src]="project.imagen" alt="captura"> 
            </figure>
            <section class="description-project">
                <h3>{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <div class="stacks">
                    <div class="stack" *ngFor="let stack of project.stacks">
                        <span>{{ stack }}</span>
                    </div>
                </div>
                <div class="container-links">
                    <div class="link">
                        <a [href]="project.repositorio" target="_blank">
                            <img width="30px" src="../../../../assets/img/icon-github.svg" alt="repositorio">
                        </a>
                    </div>
                    <div class="link">
                        <a [href]="project.deploy" target="_blank">
                            <img width="30px" src="../../../../assets/img/icon-view.svg" alt="deploy">
                        </a>
                    </div>
                </div>
            </section> 
        </section>
    </section>
</article>
