<section class="title-experience">
    <h2>Experiencia</h2>
</section>
<article class="experience">
    <section class="corporativo-container">
        <figure class="avatar-experience">
            <img src="../../../../assets/img/avatar-experiencia.png" alt="avatar experience">
        </figure>
        <section class="corporativo-about">
            <section class="title-corporativo">
                <h3>Corporativo Grupo Ríos S.A. de C.V.</h3>
            </section>
            <section class="description-corporativo">
                <p>
                    Cargo: Técnico en el Area de Sistemas <br>
                    Periodo: Agosto 2021 -Enero 2022
                </p>
                <ul class="list-responsabilidades">
                    <li>Responsabilidades:</li>
                    <li>Actualización y agregado de módulos al sistema.</li>
                    <li>Creación de formatos PDF con la libreria HMTL2PDF.</li>
                    <li>Actualización de la página oficial de la empresa utilizando el sistema de gestión de contenidos WordPress.</li>
                </ul>
            </section>
        </section>
    </section> 
</article>

<section class="title-project">
    <h2>Proyectos</h2>
</section>
<article class="projects-article">
    <section class="project-container">
        <section class="proyecto">
            <figure class="img-project">
                Proyecto Uno
                <!-- <img src="https://res.cloudinary.com/dhwbvncoq/image/upload/v1694231334/Portafolio-candido/captura-portfolio.png" alt="captura"> -->
            </figure>
            <section class="description-project"></section>
        </section>
        <section class="proyecto">Proyecto Dos</section>
        <section class="proyecto">Proyecto Tres</section>
    </section>
</article>
