<section class="title-experience">
    <h2>Experiencia</h2>
</section>
<article class="experience">
    <section class="corporativo-container">
        <figure class="avatar-experience">
            <img src="../../../../assets/img/avatar-experiencia.png" alt="avatar experience">
        </figure>
        <section class="corporativo-about">
            <section class="title-corporativo">
                <h3>Corporativo Grupo Ríos S.A. de C.V.</h3>
            </section>
            <section class="description-corporativo">
                <p>
                    Cargo: Técnico en el Area de Sistemas <br>
                    Periodo: Agosto 2021 -Enero 2022
                </p>
                <ul class="list-responsabilidades">
                    <li>Responsabilidades:</li>
                    <li> Actualización del sistema web con HTML 5, Bootstrap, JQuery, librería de datatables, PHP y SQL Server</li>
                    <li>Creación de formatos PDF con la libreria HMTL2PDF.</li>
                    <li>Actualización de la pagina oficial con el sistema de gestión de contenido WordPress y plugins: Elementor, Slider Revolution y Contact Form.</li>
                </ul>
            </section>
        </section>
    </section> 
</article>

<section class="title-project">
    <h2>Proyectos</h2>
</section>
<article class="projects-article">
    <section class="project-container">
        <section *ngFor="let project of projects" class="proyecto">
            <figure class="img-project">
                <img [src]="project.imagen" alt="captura"> 
            </figure>
            <section class="description-project">
                <h3>{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <div class="stacks">
                    <div class="stack" *ngFor="let stack of project.stacks">
                        <span>{{ stack }}</span>
                    </div>
                </div>
                <div class="container-links">
                    <div class="link">
                        <a [href]="project.repositorio" target="_blank">
                            <img width="50px" src="../../../../assets/img/icon-github.svg" alt="repositorio">
                        </a>
                    </div>
                    <div class="link">
                        <a [href]="project.deploy" target="_blank">
                            <img width="50px" src="../../../../assets/img/icon-view.svg" alt="deploy">
                        </a>
                    </div>
                </div>
            </section> 
        </section>
    </section>
</article>
