<nav class="navbar" [class.fixed-menu]="isFixedMenu">
    <ul>
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['home']">
                <img src="/assets/img/house-nav.svg" alt="home" aria-hidden="true">
                <span>Inicio</span>
            </a>
        </li>
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['experiencia']">
                <img src="/assets/img/business-nav.svg" alt="jobs" aria-hidden="true">
                <span>Experiencia</span>
            </a>
        </li>
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['formacion']">
                <img src="/assets/img/graduation-nav.svg" alt="formation" aria-hidden="true">
                <span>Formación</span>
            </a>
        </li>
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['contacto']">
                <img src="/assets/img/address-nav.svg" alt="phone" aria-hidden="true">
                <span>Contacto</span>
            </a>
        </li>
        <li class="theme">
            <app-theme-button></app-theme-button>
        </li>
    </ul>
</nav>
