<section class="title-welcome">
    <h2>Bienvenido</h2>
    <span>"Encantado de recibir tu visita y mostrarte de mi experiencia."</span>
</section>
<article class="presentation">
    <figure class="avatar-container">
        <img src="../../../../assets/img/avatar-user.webp" alt="avatar">
    </figure>
    <section class="text-presentation">
        <p>
            Hola soy Candido.He completado mi formación en Ingeniería Informática en el 
            Instituto Tecnológico Superior de Zacapoaxtla y, desde entonces, he seguido complementando 
            mi aprendizaje en cursos y practicando constantemente.
        </p>
    </section>
</article>

<section class="title-skills">
    <h2>Habilidades</h2>
</section>
<article class="skills-article">
    <section class="skills-container">
        <figure class="html">HTML</figure>
        <figure class="css">CSS</figure>
        <figure class="js">JavaScript</figure>
        <figure class="git">Git</figure>
        <figure class="netlify">Netlify</figure>
        <figure class="mysql">MySql</figure>
        <figure class="sql">Sql serve</figure>
        <figure class="angular">Angular</figure>
        <figure class="github">GitHub</figure>
        <figure class="sass">SASS</figure>
    </section>
</article>

