<section class="title-welcome">
    <h2>Bienvenido</h2>
    <span>"Encantado de recibir tu visita y mostrarte de mi experiencia."</span>
</section>
<article class="presentation">
    <figure class="avatar-container">
        <img src="../../../../assets/img/avatar-user.webp" alt="avatar">
    </figure>
    <section class="text-presentation">
        <p>
            Hola soy Candido.He completado mi formación en Ingeniería Informática en el 
            Instituto Tecnológico Superior de Zacapoaxtla y, desde entonces, he seguido complementando 
            mi aprendizaje en cursos y practicando constantemente.
        </p>
    </section>
</article>

<section class="title-skills">
    <h2>Habilidades</h2>
</section>
<article class="skills-article">
    <section class="skills-container">
        <figure class="item html">
            <img src="../../../../assets/img/img-html5.png" alt="html5">
        </figure>
        <figure class="item css">
            <img src="../../../../assets/img/img-css.png" alt="css">
        </figure>
        <figure class="item sass">
            <img src="../../../../assets/img/img-sass.png" alt="sass">
        </figure>
        <figure class="item github">
            <img src="../../../../assets/img/img-githug.png" alt="github">
        </figure>
        <figure class="item netlify">
            <img src="../../../../assets/img/img-netlify.png" alt="netlify">
        </figure>
        <figure class="item mysql">
            <img src="../../../../assets/img/img-mysql.png" alt="mysql">
        </figure>
        <figure class="item sql">
            <img src="../../../../assets/img/img-sql-server.png" alt="sql-server">
        </figure>
        <figure class="item angular">
            <img src="../../../../assets/img/img-angular.png" alt="angular">
        </figure>
        <figure class="item git">
            <img src="../../../../assets/img/img-git.png" alt="git">
        </figure>
        <figure class="item javascript">
            <img src="../../../../assets/img/img-js.png" alt="javascript">
        </figure>
    </section>
</article>