<header>
    <!-- <app-navbar></app-navbar> -->
    <app-introduction></app-introduction>
</header> 
  

<section class="title-welcome">
    <h2>¡Bienvenid@ a mi esquina virtual!</h2>
</section>
<section class="presentation">
    <article class="presentation-container">
        <figure class="avatar-container">
            <img src="../../../../assets/img/avatar-user.webp" alt="avatar">
        </figure>
        <article class="text-presentation">
            <p>
                Siempre me ha gustado aprender sobre tecnología y el desarrollo web me ha permitido
                crear proyectos que sean útiles, atractivos y funcionales. En este sitio, compartiré
                mis proyectos personales, que son una excelente manera de practicar mis habilidades.
            </p>
        </article>
    </article>
</section>

<section class="title-skills">
    <h2>Habilidades</h2>
</section>
<section class="skills-section">
    <article class="skills-container">
        <figure class="item html">
            <img src="../../../../assets/img/img-html5.svg" alt="icon-html5">
            <span>Html</span>
        </figure>
        <figure class="item css">
            <img src="../../../../assets/img/img-css.svg" alt="icon-css">
            <span>Css</span>
        </figure>
        <figure class="item sass">
            <img src="../../../../assets/img/img-sass.svg" alt="icon-sass">
            <span>Sass</span>
        </figure>
        <figure class="item github">
            <img src="../../../../assets/img/img-github.svg" alt="icon-github">
            <span>GitHub</span>
        </figure>
        <figure class="item netlify">
            <img src="../../../../assets/img/img-netlify.svg" alt="icon-netlify">
            <span>Netlify</span>
        </figure>
        <figure class="item mysql">
            <img src="../../../../assets/img/img-mysql.png" alt="icon-mysql">
            <span>MySql</span>
        </figure>
        <figure class="item sql">
            <img src="../../../../assets/img/img-sql-server.svg" alt="icon-sql-server">
            <span>Sql Server</span>
        </figure>
        <figure class="item angular">
            <img src="../../../../assets/img/img-angular.png" alt="icon-angular">
            <span>Angular</span>
        </figure>
        <figure class="item git">
            <img src="../../../../assets/img/img-git.svg" alt="icon-git">
            <span>Git</span>
        </figure>
        <figure class="item javascript">
            <img src="../../../../assets/img/img-js.png" alt="icon-javascript">
            <span>JavaScript</span>
        </figure>
        <figure class="item postman">
            <img src="../../../../assets/img/img-postman.svg" alt="icon-postman">
            <span>Postman</span>
        </figure>
    </article>
</section>