<article class="introduction">
    <section class="images">
        <div class="bg-information"></div>
        <div class="img-user"></div>
    </section>
    <section class="info-user">
        <div class="text-user">
            <h1>{{ name }}</h1>
            <p class="occupation">{{ occupation }}</p>
        </div>
        <div class="theme">
            <app-theme-button></app-theme-button>
        </div>
    </section>
</article>
<article class="stack">
    <img src="/assets/img/html-icon.svg" alt="html">
    <img src="/assets/img/sass-icon.svg" alt="css sass">
    <img src="/assets/img/angular-icon.svg" alt="angular CLI">
</article>