<div class="introduction">
    <div class="images">
        <div class="bg-information"></div>
        <div class="img-user"></div>
    </div>
    <div class="info-user">
        <div class="text-user">
            <h1>{{ name }}</h1>
            <p class="occupation">{{ occupation }}</p>
        </div>
        <div class="theme">
            <app-theme-button></app-theme-button>
        </div>
    </div>
</div>
<div class="stack">
    <img src="/assets/img/html-icon.svg" alt="html">
    <img src="/assets/img/sass-icon.svg" alt="css sass">
    <img src="/assets/img/angular-icon.svg" alt="angular CLI">
</div>