<section class="title-formation">
    <h2>Formación</h2>
</section>
<article class="itsz-formation">
    <section class="itsz-container">
        <figure class="logo-itsz">
            <img src="../../../../assets/img/avatar-study.png" alt="logo">
        </figure>
        <section class="itsz-about">
            <section class="title-itsz">
                <h3>Instituto Tecnológico Superior de Zacapoaxtla</h3>
            </section>
            <ul class="description-itsz">
                <li>Ingeniería informática</li>
                <li><img class="img-calendar" src="../../../../assets/img/icon-calendar.svg" alt="calendar"> Agosto 2017 - Enero 2022</li>
                <li>Proyectos:</li>
                <li>Sistema de entrada y salida ITSZ</li>
                <li>Sistema de vigilancia con bot de telegram.</li>
            </ul>
        </section>
    </section>
</article>

<article class="udemy-formation">
    <section class="udemy-container">
        <figure class="logo-udemy">
            <img src="../../../../assets/img/logo-udemy.png" alt="udemy">
        </figure>
        <section class="udemy-about">
            <section class="title-udemy">
                <h3>Udemy</h3>
            </section>
            <section class="description-udemy">
                <ul>
                    <li>Máster en CSS: Responsive,SASS, Flexbox, Grid y Bootstrap</li>
                    <li><img class="img-calendar" src="../../../../assets/img/icon-calendar.svg" alt="calendar">Febrero 2023</li>
                    <li>Máster en JavaScript: AprenderJs, jQuery, Angular, NodeJS</li>
                    <li><img class="img-calendar" src="../../../../assets/img/icon-calendar.svg" alt="calendar">Marzo 2023 - En curso 2023</li>
                    <li>Angular:De cero a experto (Legacy)</li>
                    <li><img class="img-calendar" src="../../../../assets/img/icon-calendar.svg" alt="calendar">Marzo 2023 - En curso 2023</li>
                </ul>
            </section>
        </section>   
    </section>
</article>