<section class="title-formation">
    <figure>
        <img src="../../../../assets/img/avatar-study.png" alt="avatar">
    </figure>
    <h2>Formación</h2>
</section>
<article class="itsz-formation">
    <section class="itsz-container">
        <figure class="logo-itsz">
            <img src="../../../../assets/img/img-itsz.webp" alt="itsz">
        </figure>
        <section class="title-itsz">
            <h3>Instituto Tecnológico Superior de Zacapoaxtla</h3>
        </section>
        <section class="description-itsz">
            <p>
                Ingeniería informática <br> Periodo: Agosto 2017 - Enero2022 <br>
                Proyectos:Sistema de entrada y salida ITSZ <br> Sistema de vigilancia con bot de telegram.
            </p>
        </section>
    </section>
</article>
<article class="udemy-formation">
    <section class="udemy-container">
        <figure class="logo-udemy">
            <img src="../../../../assets/img/logo-udemy.png" alt="udemy">
        </figure>
        <section class="title-udemy">
            <h3>Udemy</h3>
        </section>
        <section class="description-udemy">
            <p>
                Máster en CSS: Responsive,SASS, Flexbox, Grid y Bootstrap
                <br> 
                Periodo: Febrero 2023
                <br>
                Máster en JavaScript: AprenderJs, jQuery, Angular, NodeJS
                <br>
                Periodo: Marzo 2023 - En curso 2023
                <br>
                Angular:De cero a experto (Legacy)
                <br>
                Periodo: Marzo 2023 - En curso 2023
            </p>
        </section>
    </section>
</article>