<section class="title-formation">
    <h2>Formación</h2>
</section>
<article class="itsz-formation">
    <section class="itsz-container">
        <figure class="logo-itsz">
            <img src="../../../../assets/img/avatar-study.png" alt="logo">
        </figure>
        <section class="itsz-about">
            <section class="title-itsz">
                <h3>Ingeniería informática</h3>
            </section>
            <section class="description-itsz">
                <p class="style-universidad">Instituto Tecnológico Superior de Zacapoaxtla</p>
                <p class="style-universidad date-itsz"><img class="img-calendar" src="../../../../assets/img/icon-calendar.svg" alt="calendar"> Agosto 2017 - Enero 2022</p>
                <p class="style-universidad project-p">Proyectos</p>
                <ul>
                    <li class="itsz-project">Sistema de entrada y salida ITSZ</li>
                    <li class="project-li">
                        <figure class="container-check">
                            <img class="icon-check" src="./../../../../assets/img/icon-check.svg" alt="check">
                        </figure>
                        <span>
                            Se ha planteado la implementación de un sistema de acceso al Instituto a través de torniquetes y credenciales 
                            asignadas al personal y estudiantes. Este sistema permitiría consultar información utilizando la credencial, 
                            además de gestionar el préstamo de libros y otros recursos disponibles.     
                        </span>
                    </li>
                </ul>
                <ul>
                    <li class="itsz-project">Sistema de vigilancia con bot de telegram</li>
                    <li class="project-li">
                        <figure class="container-check">
                            <img class="icon-check" src="./../../../../assets/img/icon-check.svg" alt="check">
                        </figure>
                        <span>
                            Se llevó a cabo el desarrollo de un prototipo para la implementación de un sistema de vigilancia. 
                            Para ello, se utilizaron sensores de movimiento junto con una placa Arduino, con el fin de conectar 
                            con un bot y notificar al usuario en caso de detectar actividad.
                        </span>
                    </li>
                </ul>
            </section>
        </section>
    </section>
</article>

<section class="title-course">
    <h2>Cursos</h2>
</section>
<article class="udemy-formation">
    <section class="udemy-container">
        <figure class="logo-udemy">
            <img src="../../../../assets/img/logo-udemy.png" alt="udemy">
        </figure>
        <section class="udemy-about">
            <section class="description-udemy">
                <ul>
                    <li class="course-li">Máster en CSS: Responsive,SASS, Flexbox, Grid y Bootstrap</li>
                    <li class="course-date"><img class="img-calendar" src="../../../../assets/img/icon-calendar.svg" alt="calendar">Febrero 2023</li>
                    <li class="course-li">Máster en JavaScript: AprenderJs, jQuery, Angular, NodeJS</li>
                    <li class="course-date"><img class="img-calendar" src="../../../../assets/img/icon-calendar.svg" alt="calendar">Marzo 2023 - Cursando</li>
                    <li class="course-li">Angular: De cero a experto (Legacy)</li>
                    <li class="course-date"><img class="img-calendar" src="../../../../assets/img/icon-calendar.svg" alt="calendar">Marzo 2023 - Cursando</li>
                </ul>
            </section>
        </section>   
    </section>
</article>