// Estilos generales de la pagina

// Importar fuente OpenSans
@font-face 
    font-family: "OpenSans-R"
    src: url('/assets/fonts/OpenSans-Regular.ttf')
    font-display: swap

@font-face 
    font-family: "OpenSans-SB"
    src: url('/assets/fonts/OpenSans-SemiBold.ttf')
    font-display: swap

@font-face 
    font-family: "OpenSans-B"
    src: url('/assets/fonts/OpenSans-Bold.ttf')
    font-display: swap


//Variables 
$information-bg: url('/assets/img/information-bg.webp')
$img-user: url('/assets/img/img-user.webp')

// Mixin
@mixin title-section()
    text-align: center
    font-family: "OpenSans-B", Arial, sans-serif
    font-size: 25px

@mixin style-borde()
    border-radius: 20px 20px 20px 20px
    border-top: 1px solid #188FF5 !important
    box-shadow: 0px -1px 0px 0px #A2FBF9,0px 1px 0px 0px #89CFD1 inset

@mixin centrar()
    display: flex
    align-items: center
    justify-content: center

@mixin centrar-col()
    display: flex
    flex-direction: column
    align-items: center

@mixin img-calendar()
    width: 25px
    margin-right: 10px
    

*
    margin: 0px
    padding: 0px

header
    width: 100%
    height: 450px

    .introduction
        width: 100%
        height: 90%

        .images
            width: 100%
            height: 60%
            display: flex
            align-items: center
            flex-direction: column

            .bg-information
                width: 100%
                height: 70%
                z-index: 1
                margin-bottom: -120px
                background: $information-bg
                background-size: 100% 120%
                background-repeat: no-repeat
        
            .img-user
                width: 180px
                height: 180px
                z-index: 2
                background: $img-user
                background-size: 100% 100%
                border-radius: 100%
        
        .info-user
            width: 100%
            height: 40%
            display: flex
            flex-direction: column

            .text-user
                width: auto
                padding: 10px

                h1
                    font-family: 'OpenSans-B', Arial, sans-serif
                    font-size: 30px
                    text-align: center
                .occupation
                    font-family: 'OpenSans-SB', Arial, sans-serif
                    font-size: 24px
                    text-align: center
    
    .navbar
        width: auto
        height: 10%
        border-radius: 10px

        ul
            width: 100%
            height: 100%
            display: flex
            margin: 0px auto

            li
                width: 25%
                height: inherit
                display: inline-flex
                justify-content: center
                align-items: center

                a
                    width: 100%
                    text-align: center

                    img
                        width: 30px
                        height: 30px

                    span
                        display: none
            
            .active
                    border-radius: 10px
                    border-top: 1px solid #2577FF
                    box-shadow: 0px 3px 3px 0px #2577FF inset

                    img
                        filter: invert(0.4) sepia(1) hue-rotate(190deg) saturate(1000%) !important
            .theme
                max-width: 60px
                height: inherit
                .btn-theme
                    border: none
                    width: 40px
                    height: 40px
                    cursor: pointer
                    background-color: transparent
    // Fijar el menu en la parte superior
    .fixed-menu
        position: fixed !important
        top: 0 !important
        right: 0
        left: 0 !important
        width: auto !important
        z-index: 999 !important
        border-radius: 10px 10px 10px 10px !important
        overflow: hidden !important
        max-width: 1440px !important
        margin: 0px auto
        height: 50px
        transition: all 200ms
         
main
    width: 100%
    margin-top: 30px
    padding-top: 35px
    display: flex
    flex-direction: column

    /***********************************Componente Home *************************************/
    .title-welcome
        width: 100%
        height: auto
        @include centrar-col
        margin-top: 10px
        h2
            @include title-section()
        span
            margin-top: 10px
            padding: 15px
            text-align: center
            font-family: 'OpenSans-SB', Arial, sans-serif
            font-size: 17px
    .presentation
        width: inherit
        height: auto
        margin-top: 50px
        margin-bottom: 50px
        @include centrar-col()
        .presentation-container
            width: 90%
            max-width: 450px
            height: auto
            @include style-borde()
            .avatar-container
                width: auto
                height: 250px
                @include centrar()
                img
                    width: 270px
                    height: 270px
            .text-presentation
                width: auto
                height: auto
                p
                    text-align: center
                    padding: 15px
                    font-family: "OpenSans-SB"
                    font-size: 17px 
                    margin-top: 20px
                    margin-bottom: 20px
    
    .title-skills
        margin-bottom: 50px
        h2
            @include title-section()
    .skills-section
        height: auto
        margin-top: 50px
        @include centrar-col()
        .skills-container
            width: 90%
            max-width: 450px
            height: auto
            padding-top: 20px
            padding-bottom: 20px
            margin-bottom: 50px
            @include style-borde()
            border-radius:20px 20px
            display: flex
            flex-wrap: wrap
            justify-content: center
            .item
                width: calc( 50% - 20px )
                height: 120px
                padding: 10px
                @include centrar-col()

                img 
                    width: 57px
                    height: 45px
                    transition: all 600ms
                    margin-bottom: 5px
                span
                    width: auto
                    padding: 5px 15px 5px 15px
                    border-radius: 5px
                    font-family: "OpenSans-SB", Arial, sans-serif
                    text-align: center
                    font-size: 18px
                    margin: 10px
                    transition: all 300ms
            .item:hover
                img
                    transform: scale(1.1, 1.1)
                span
                    animation-name: desplazamiento
                    animation-duration: 0.5s
                    box-shadow: 1px 1px 6px 0px #2577FF inset

            @keyframes desplazamiento
                0%
                    box-shadow: 0px 0px 0px 0px #2577FF inset
                20%
                    box-shadow: 0px 1px 0px 0px #2577FF inset
                40%
                    box-shadow: 1px 1px 0px 0px #2577FF inset
                60%
                    box-shadow: 1px 1px 2px 0px #2577FF inset
                80%
                    box-shadow: 1px 1px 4px 0px #2577FF inset
                100%
                    box-shadow: 1px 1px 6px 0px #2577FF inset
            
    /***********************************Componente Formation *************************************/
    .title-formation
        @include centrar()
        margin-bottom: 50px
        h2
            @include title-section()
    .itsz-formation
        @include centrar-col()
        height: auto
        margin-bottom: 50px
        .itsz-container
            width: 90%
            max-width: 450px
            height: auto
            @include style-borde()
            .logo-itsz
                width: 100%
                height: 240px
                @include centrar()
                img
                    width: 200px
                    height: 200px
            .itsz-about
                @include centrar-col()
                .title-itsz
                    width: 100%
                    height: 60px
                    h3
                        @include title-section()
                        padding-left: 10px
                        padding-right: 10px
                        font-size: 20px 
              
                .description-itsz
                    width: 100%
                    margin-bottom: 20px
                    li
                        display: flex   
                        list-style: none
                        font-family: "OpenSans-SB", Arial, sans-serif
                        font-size: 18px
                        padding: 5px 15px 5px 15px 
                        .img-calendar
                            @include img-calendar()
    .udemy-formation
        @include centrar-col()
        width: auto
        height: auto
        margin-bottom: 50px
        .udemy-container
            width: 90%
            max-width: 450px
            height: inherit
            @include style-borde()
            .logo-udemy
                width: 100%
                height: 200px
                @include centrar()
                img
                    width: 250px
            .udemy-about
                @include centrar-col()
                .title-udemy
                    width: 100%
                    height: 60px
                    h3
                        @include title-section()
                        padding-left: 10px
                        padding-right: 10px
                        font-size: 20px 
                .description-udemy
                    width: 100%
                    height: auto
                    margin-bottom: 30px
                    ul
                        li
                            display: flex
                            list-style: none
                            font-family: "OpenSans-SB", Arial, sans-serif
                            font-size: 17px
                            padding: 5px 15px 5px 15px
                            .img-calendar
                                @include img-calendar()
                                
                            


    /***********************************Componente Experiencia *************************************/
    .title-experience
        margin-bottom: 50px
        h2
            @include title-section()
    .experience
        @include centrar-col()
        height: auto
        margin-bottom: 50px
        .corporativo-container
            width: 90%
            max-width: 450px
            height: auto
            @include style-borde
            border-radius: 20px 20px 20px
            display: flex
            flex-direction: column
            .avatar-experience
                width: 100%
                height: 280px
                @include centrar()
                margin-bottom: 15px
                img
                    width: 250px
                    height: 250px
            .corporativo-about
                width: 100%
                height: auto
                margin-bottom: 30px
                .title-corporativo
                    width: 100%
                    height: auto
                    h3
                        @include title-section()
                        padding-left: 10px
                        padding-right: 10px
                .description-corporativo
                    width: 100%
                    height: auto
                    .empresa, .periodo
                        font-family: "OpenSans-SB", Arial, sans-serif
                        text-align: center
                    .empresa
                        font-size: 17px
                        padding: 0px 10px 0px 10px
                    .periodo
                        font-size: 14px
                        margin-bottom: 20px
                        font-style: italic
                        opacity: .60
                    .list-responsabilidades
                        padding: 10px
                        li
                            font-family: "OpenSans-R", Arial, sans-serif
                            font-size: 16px
                            padding: 5px
                            list-style: none
                            display: flex
                            .container-check
                                width: 25px
                                height: 25px
                                margin-right: 5px
                                .icon-check
                                    width: 25px
                                    height: 25px


    .title-project
        margin-bottom: 50px
        h2
            @include title-section()
    .projects-article
        width: auto
        height: auto
        @include centrar-col()
        margin-bottom: 50px
        .project-container
            width: 90%
            height: auto
            display: flex
            flex-wrap: wrap
            justify-content: center
            .proyecto
                width: calc( 100% - 15px )
                max-width: 450px
                height: auto
                margin-bottom: 20px 
                overflow: hidden
                padding: 10px
                @include style-borde
                @include centrar-col()
                .img-project
                    width: 100% 
                    height: auto
                    border-radius: 15px 15px 15px 15px
                    overflow: hidden
                    margin-bottom: 20px
                    @include centrar()
                    img
                        
                        width: 100%
                        height: auto 
                .description-project
                    width: 100%
                    h3
                        text-align: center
                        font-family: "OpenSans-B", Arial, sans-serif
                        font-size: 20px
                        margin-bottom: 15px
                    p
                        font-family: "OpenSans-R", Arial, sans-serif
                        text-align: center
                        font-size: 16px
                        margin-bottom: 20px
                    .stacks
                        width: 100%
                        height: auto
                        display: flex
                        flex-wrap: wrap
                        justify-content: space-between
                        .stack
                            width: calc( 33.33% - 25px )
                            border-radius: 10px
                            padding: 5px
                            margin-bottom: 10px
                            text-align: center
                            font-family: "OpenSans-SB", Arial, sans-serif
                    .container-links
                        margin-top: 20px
                        display: flex
                        margin-bottom: 10px
                        .link
                            width: 50%
                            height: 100%
                            @include centrar()

    /***********************************Componente Contacto *************************************/
    .title-contact
        width: 100%
        height: auto
        @include centrar-col
        margin-top: 10px
        h2
            @include title-section()
        span 
            margin-top: 10px
            padding: 15px
            text-align: center
            font-family: 'OpenSans-SB', Arial, sans-serif
            font-size: 18px
    .contacto-article
        width: 100%
        height: auto
        margin-top: 50px
        @include centrar-col()
        .contact-container
            width: 90%
            height: auto
            @include centrar()
            flex-direction: column
            .link-linkedin
                width: 100%
                height: 100px
                max-width: 500px
                display: flex
                align-items: center
                @include style-borde()
                border-radius: 10px
                margin-bottom: 50px !important
                a
                    width: 100%
                    font-family: "OpenSans-B", Arial, sans-serif
                    font-size: 20px
                    text-decoration: none
                    display: flex
                    align-items: center
                    transition: all 200ms
                    img
                        margin-left: 30px !important
                        width: 50px
                        margin: 0px 20px 0px 0px
                        transition: all 200ms
            .link-linkedin:hover
                cursor: pointer
                a
                    color: #2983FF !important
                    img 
                        filter: invert(0.4) sepia(1) hue-rotate(190deg) saturate(1000%) !important
            .link-email
                width: 100%
                height: 100px
                max-width: 500px
                display: flex
                align-items: center
                @include style-borde()
                border-radius: 10px
                margin-bottom: 50px
                a
                    width: 100%
                    font-family: "OpenSans-B", Arial, sans-serif
                    font-size: 20px
                    text-decoration: none
                    display: flex
                    align-items: center
                    transition: all 200ms
                    img
                        margin-left: 30px !important
                        width: 50px
                        margin: 0px 20px 0px 0px
                        transition: all 200ms
            .link-email:hover
                cursor: pointer
                a
                    color: #2983FF !important
                    img 
                        filter: invert(0.4) sepia(1) hue-rotate(190deg) saturate(1000%) !important

/*********************************** FOOTER *************************************/
footer
    height: auto
    @include centrar-col()
    .info-footer
        width: 90%
        height: 100px
        @include centrar()
        p
            font-family: 'OpenSans-R', Arial, sans-serif
            font-size: 18px
            text-align: center