/* Mobile first */

@media screen and (min-width: 640px) 
    header
        .introduction
            display: flex
            flex-direction: column
            align-items: center

            .images
                width: 90%
                height: 88%
                align-items: flex-start
                .bg-information
                    border-radius: 0px 0px 20px 20px
                    background-size: 100% 100%
                .img-user
                    margin-left: 30px
            
            .info-user
                width: 90%
                margin-top: -60px
                z-index: 3
                justify-content: flex-end

                .text-user
                    width: 60%
                    h1
                        text-align: left
                    .occupation
                        text-align: left
                .theme
                    width: 8%
                    display: flex
                    justify-content: flex-end
        .navbar
            ul
                li
                    a
                        display: flex
                        align-items: center
                        justify-content: center
                        text-decoration: none
                        span
                            display: block
                            font-family: 'OpenSans-SB'
                            margin-left: 10px
                            font-size: 18px
                .active
                    span
                        color: #2577FF !important
    main
        /********************************** Componente Home ************************************/
        .presentation
            .presentation-container
                display: flex
                max-width: none
                .avatar-container
                    width: 50%
                    height: 100%
                    img
                        width: 290px
                        height: 290px
                .text-presentation
                    width: 50%
                    display: flex
                    justify-content: center
                    align-items: center
                    p
                        font-size: 18px
                        padding: 15px
        .skills-article
            .skills-container
                max-width: none
                justify-content: flex-start
                .item
                    width: calc( 33.33% - 20px )
        /********************************** Componente Formation ************************************/
        .title-formation
            figure
                width: 150px
                height: 150px
        .itsz-formation
            .itsz-container
                max-width: none
                height: auto
                display: flex
                justify-content: center
                align-items: center
                .logo-itsz
                    width: 40%
                    img
                        width: 230px
                        height: 230px
                .itsz-about
                    width: 60%
                    .title-itsz
                        display: flex
                        justify-content: center
                        align-items: center
                        h3
                            margin-top: 20px
                    .description-itsz
                            margin-top: 20px
        .udemy-formation
            .udemy-container
                max-width: none
                height: auto
                display: flex
                .logo-udemy
                    width: 40%
                    height: auto
                    img
                        width: 190px
                .udemy-about
                    width: 60%
                    .title-udemy
                        display: flex
                        justify-content: center
                        align-items: center
                        h3
                            margin-top: 20px
                    .description-udemy
                        display: block

        /***********************************Componente Experiencia *************************************/
        .experience
            .corporativo-container
                max-width: none
                flex-direction: row
                .avatar-experience
                    width: 35%
                    height: auto
                    img
                        width: 210px
                        height: 210px
                .corporativo-about
                    width: 65%
                    height: auto
                    margin-top: 15px

        .projects-article
            .project-container
                justify-content: space-between
                .proyecto
                    width: calc( 50% - 20px )
        
        /************************************ Componente Contacto ****************************************/
        .contacto-article
            .contact-container
                .link-linkedin
                    a
                        img
                            margin-left: 60px !important
                .link-email
                    a
                        img
                            margin-left: 60px !important

/*********************************** FOOTER *************************************/
footer
    .info-footer
        width: 90%
        height: 50px
        p
            font-size: 16px

//Falta definir mas estilos para las siguientes secciones

@media screen and (min-width: 900px) 
    header
        .introduction
            .images
                width: 80%
                height: 100%
                .bg-information
                    height: 80%
                    margin-bottom: -100px
                    background-size: 103% 115%
                .img-user
                    width: 140px
                    height: 140px
                    margin-left: 50px

            .info-user
                width: 80%
                margin-top: -50px
        
        .navbar
            ul
                width: 80%
    main
        /********************************** Componente Home ************************************/
        .presentation
            .presentation-container
                width: 80%
                .avatar-container
                    width: 45%
                    img
                        width: 330px
                        height: 330px
                .text-presentation
                    width: 55%
                    p
                        font-size: 20px
                        padding: 20px
        .skills-article
            .skills-container
                width: 80%
        /********************************** Componente Formation ************************************/
        .itsz-formation
            .itsz-container
                width: 80%
                .logo-itsz
                    width: 33%
                    img
                        width: 240px
                        height: 240px
                .itsz-about
                    width: 67%
        .udemy-formation
            .udemy-container
                width: 80%
                .logo-udemy
                    width: 33%
                    img
                        width: 240px
                .udemy-about
                    width: 67%
        /***********************************Componente Experiencia *************************************/
        .experience
            .corporativo-container
                flex-direction: row
                width: 80%
                .avatar-experience
                    width: 30%
                    height: auto
                    img
                        width: 250px
                        height: 250px
                .corporativo-about
                    width: 70%
                    height: auto
                    margin-top: 15px
                    .title-corporativo
                        height: 40px

        .projects-article
            .project-container
                width: 80%

@media screen and (min-width: 1100px) 
    main
        .projects-article
            .project-container
                width: 80%
                .proyecto
                    width: calc( 33.33% - 20px )

//Falta definir mas estilos para las siguientes secciones

@media screen and (min-width: 1440px)
    body 
        display: flex
        flex-direction: column
        align-items: center

        header
            width: 1440px
        main
            width: 1440px
            border-radius: 20px
        footer
            width: 1440px
/*Limite de expanción de la pagina 1440px. Top limite*/