//Mode Dark

// Mixin
@mixin section-dark()
    background-color: #242526
    border: 1px solid #18191A


body.dark
    background-color: #202124
    color: white
    
    header
        .introduction
            background: linear-gradient(180deg, #266cdd 0%, #202124 100%) 
                
            .images
                .img-user
                    border: 3px solid #202124
                
            .info-user
                .theme
                    .btn-theme
                        background: no-repeat 50% 50%/ 30px url('/assets/img/moon-solid.svg') //hoja de estilo light
                        filter: invert(1)
            
        .stack
            img
                filter: invert(1)
            
        .navbar
            background-color: #3D3D3D
            border-top: 1px solid gray
            border-bottom: 1px solid gray
            ul
                li
                    a
                        img
                            filter: invert(1)
                        span
                            color: white
           
    main
        background-color: #18191A
        /***********************************Componente Home *************************************/
        .presentation
            .avatar-container
                @include section-dark()
        .text-presentation
            @include section-dark()

        .skills-article
            .skills-container
                @include section-dark()

        /***********************************Componente Formation *************************************/
        .itsz-formation
            .itsz-container
                @include section-dark()
        .udemy-formation
            .udemy-container
                @include section-dark()

        /***********************************Componente Experiencia *************************************/
        .experience
            .corporativo-container
                @include section-dark()